/* css styles */

p {
    font-family: sans-serif;
}

pre {
    background-color: rgb(50, 50, 50);
    color: rgb(225,225,225);
}

figcaption {
    margin: auto;
    text-align: center;
}

.disclaimer {
    font-size: 0.6em;
}